body{
    box-sizing: border-box;
}
#header{
    background-color: aqua;
}
.container{
    background-color: rgb(157, 216, 232);
}

 /* TransactionList  */
#tlist{
    border: 2px solid black;
}
li{
    list-style: none;
    padding: 2px;
}
.minus{
    color: red;
}
.plus{
    color: rgb(17, 68, 13);
}
.delete-btn{
    background-color: aqua;
}
#mychart{
    background-color: brown;
}